body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #4F5D95, #232531);
    color: white;
    text-align: center;
}
header {
    background: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
h1, h2 {
    margin: 0;
}
.contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    margin: 20px auto;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.contenido img {
    max-width: 250px;
    margin-right: 20px;
}
.descripcion {
    max-width: 600px;
    font-size: 18px;
}
.botones {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}
.boton {
    text-decoration: none;
    background: #6c7aab;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.boton:hover {
    background: #4F5D95;
    transform: scale(1.1);
}

/* Responsive para móviles */
@media (max-width: 600px) {
    .contenido {
        flex-direction: column;
        text-align: center;
    }
    .contenido img {
        margin: 0 0 20px 0;
    }
    .botones {
        flex-direction: column;
    }
}
